*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 22px;;
    font-size: medium;
    text-decoration: none;
    color: rgb(26, 26, 26);
    background-color:rgb(218, 218, 218) ;

}
h1{
    text-align: center;
    font-size: xx-large;
    margin-top: 30px;
}

.grid-container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    box-shadow: #000000 0px 0px 15px ;
}
.rows{
    
    display: flex;
    justify-content: center;
    
    
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.range {
    width: 250px;
    height: 15px;
    -webkit-appearance: none;
    background: #000000;
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: #1d1d1d 0px 0px 15px;
   }
  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
    border: 4px solid #dadada;
    box-shadow: -407px 0 0 400px #272727;
  }

  
.grid-slider{
    text-align: center;
    
}
.slider-text{
    margin: 10px;
    font-size: larger;
    font-weight: 500;
}
.mybtn{
    margin-top: 30px;
    padding: 10px;
}
.color-picker {
    margin-top: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
   
    cursor: pointer;
  }
  .color-picker::-webkit-color-swatch {
    border-radius: 15px;
    box-shadow: #1a1a1a 0px 0px 15px;
    border: none;
  }
  .color-picker::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }
.color-div{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-div{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-right: 5%;
    gap: 40px;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
  .icons{
    width: 50px;
    margin-top: 23px;
    box-shadow: #1a1a1a 0px 0px 15px;
    transition: 0.3s;
}
#clear:hover{

    transform: scale(1.1);
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #1a1a1a;
  
}
.credit{
    text-align: center;
    background-color: #1a1a1a;
    color: white;    
}
a{
    background-color: #1a1a1a;
    color: rgb(185, 185, 185);  
    transition: 0.3s;
}
a:hover{
    color: rgb(87, 87, 87);  
}
#mode-info{
    text-align: center;
    margin-top: 20px;
}